.background{
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    height: 100vh;
    text-align: center;
}

.question{
    width: 40em;
    padding: 13px 40px 13px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #e1e1e1db;
    font-size: 15px;
}

button{
    background-color: #02022b;
    color: white;
    position: relative;
    left: -3%;
    top: 5px;
    border-radius: 25px;
    height: 38px;
    border: none;
    outline: none;
    width: 38px;
}

p{
    color: white;
    /* width: 50em; */
    text-align: justify;
    border: 2px solid white;
    padding: 10px;
    overflow-wrap: anywhere;
    /* position: absolute; */
    /* top: 7em; */
    /* left: 17em; */
    margin: 2% 10%;
}

.form{
    padding-top: 6%;
}

.resp{
    text-align: -webkit-center;
}